<div class="content">
  <div class="center-table">
    <div class="nav">
      <div class="flex-container flex-between">
        <div class="flex-item icon">HN</div>
        <div class="flex-item title" (click)="topStories()"><b>Hacker News</b></div>
        <div class="flex-item">new</div>
        <p class="flex-item text">|</p>
        <div class="flex-item">past</div>
        <p class="flex-item text">|</p>
        <div class="flex-item">comments</div>
        <p class="flex-item text">|</p>
        <div class="flex-item">ask</div>
      </div>
      <div class="push">
          <form class="search" id="search-form">
            <input id="search-input" [value]="searchValue"
                  (input)="search($event.target.value)" type="text"
                  class="searchTerm" placeholder="Search Hacker News">
            <button *ngIf="!searching" type="submit" class="searchButton">
              <fa-icon [icon]="faSearch"></fa-icon>
            </button>
            <button *ngIf="searching" (click)="clearSearchResults()" type="submit" class="searchButton">
              <fa-icon [icon]="faTimesCircle"></fa-icon>
            </button>
          </form>
      </div>
    </div>
    <div class="space"></div>
    <ng-container *ngIf="!fetchingStories && !searching">
      <app-story-item *ngFor="let story of stories | slice:start:end; index as i;" [story]="story" [start]="start"
        [i]="i">
      </app-story-item>
    </ng-container>
    <ng-container *ngIf="!fetchingStories && searching">
      <app-story-item *ngFor="let story of filteredStories | slice:searchStart:searchEnd; index as i;" [story]="story"
        [start]="searchStart" [i]="i">
      </app-story-item>
    </ng-container>
    <div *ngIf="fetchingStories">
      Fetching stories
    </div>
    <div class="space">
    </div>
    <div class="flex-container flex-start">
      <div class="flex-item list-number grey-text"></div>
      <div>
        <div class="grey-text" (click)="loadNextPage()"
        [hidden]="hideNextOption ? true : null">
          More
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>